.nav-bar {
    width: 100%;
    height: 5.625rem;
    background-color: green;

    .nav-bar-box {
        height: inherit;
        display: flex;
        align-items: center;

        .nav-bar-li {
            padding: 0 1rem;
            font-size: 1.2em;
            line-height: 5.625rem;
            cursor: pointer;
            white-space: nowrap;
            &:hover {
                
            }
        }
    }

    .active {
        color: red;
    }

    .pending {
        color: blue;
    }
}